<% include ../partials/head %>
    <h1>Search Results</h1>
            <% var j = comics.data.results.length, group = 6, subset; %>
            <% for (var i=0; i < j; i += group) { %>
                <% subset = comics.data.results.slice(i, i+group); %>           
                <div class="row comics">
                    <% for (var x=0; x < subset.length; x++) { %> 
                    <div class="col-md-2 comics text-center">
                            <a href="#"><img src="<%= subset[x].thumbnail.path %>.<%= subset[x].thumbnail.extension %>"></a>
                            <%= subset[x].title %>
                            <!--<h4 class="comic-title text-center"><%= subset[x].title %></h4>-->
                            <!--<p class="issue-num text-center">#<%= subset[x].issueNum %></p>-->
                    </div>
                    <% } %>
                </div>
            <% } %>
            <div class="row comics attribution">
                <p class="text-center"><%= comics.attributionText %></p>
            </div>
<% include ../partials/footer %>